
.header{
    display: flex;
    justify-content: space-between;
    color:white;
}

.logo{
    width:10rem;
    height:3rem;
}
.list_menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.list_menu>li{
    cursor: pointer;
}
.list_menu>li:hover{
    cursor: pointer;
    color:var(--orange);
}

